/* NAV STYLES */
#DCIM {
  font-weight: 600;
}
#DCIM:hover {
  font-weight: 700;
}
.page-title {
  font-size: 30pt;
  font-weight: bolder;
  text-align: center;
  padding: 30px;
  padding-bottom: 0px;
}
/* MAIN STYLES */

main .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 1000px;
  height: auto;
  position: relative;
  max-width: 100%;
  margin: 0px auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  justify-content: space-around;
}

main .container {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  border: 5px solid black;
  border-radius: 12pt;
  background: white;
  padding: 15px;
}
